In [6]:
import pandas as pd
import os

In [19]:
del path

In [20]:
path=os.getcwd()
path= path+'//values.csv'

In [21]:
path

'C:\\DataAnalysis4Python\\kanakia_dhruv_spring2017//values.csv'

In [22]:
data= pd.read_csv(path)

In [26]:
data.head()

   values
0      91
1      73
2      74
3      45
4      61

In [31]:
temp_Df= pd.cut(data['values'], bins=range(0,105,5), labels=range(0,100,5)).value_counts().reset_index

In [37]:
temp_df= temp_Df.rename(columns={'index':'marks', 'values':'student_count'})

AttributeError: 'function' object has no attribute 'rename'

In [ ]:
numpy